.country_container {
  position: fixed;
  width: 20rem;
  height: 24rem;
  right: 0.5rem;
  top: 3rem;
  background-color: #f8f8ff;
  opacity: 0.8;
  z-index: 3000;
  transition: width 0.5s, height 0.5s;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5%;
  .flag_container {
    margin-top: 1px;
    height: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .country_name {
    padding: 0 5px 0 5px;
    opacity: 1;
    width: 100%;
    text-align: center;
  }
  .title {
    height: 10%;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .description {
    height: 20%;
    font-size: 20px;
    text-align: center;
  }
  .extract {
    height: 60%;
    font-size: 15px;
    overflow-y: auto;
  }
  .no_info {
    font-size: 20px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    line-height: 150%;
  }

  .icon_container {
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  .spinner_container {
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.simplified {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  height: 12rem;
}

::-webkit-scrollbar {
  background-color: inherit;
}
// ::-webkit-scrollbar-track {
//   color: aqua;
// }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
}
