.timeline {
  --yearBgColor: rgb(240 240 240);
  --activeColor: #212529;
  --yearTextColor: #6c757d;
  --mainBg: #f8f9fa;
  height: 6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--mainBg);
  color: var(--yearTextColor);
  box-shadow: 5px 3px 15px -5px #000000;

  &::after {
    content: "";
    position: absolute;
    bottom: 2.7rem;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background: currentColor;
    pointer-events: none;
  }
}

.marker {
  position: fixed;
  bottom: 1.75rem;
  left: 4rem;
  width: 1rem;
  height: 1rem;
  transform: translate3d(-50%, -50%, 0);
  background: var(--activeColor);
  border-radius: 100%;
  z-index: 2000;
}

.year-tracker {
  position: relative;
  min-width: max(200rem, 200%);
  padding: 1.5rem max(100rem, 100%) 0 0;
  height: 9rem;
}

.year-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  .selected_year {
    transform: scale(1.3);
    color: var(--activeColor);
    cursor: pointer;
  }
}

.year-list span {
  position: relative;
  display: block;
  min-width: 8rem;
  padding: 2.25rem 1rem 0.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  z-index: 1;
  transition: color 150ms;
  &:hover {
    color: var(--activeColor);
    cursor: pointer;
    text-decoration: underline;
  }
}

.selected_year {
  transform: scale3d(1.1);
  color: var(--activeColor);
  cursor: pointer;
  text-decoration: underline;
}

.year-list span::after {
  content: " ";
  position: absolute;
  bottom: 1.92rem;
  left: 50%;
  width: 0.65rem;
  height: 0.65rem;
  background-color: currentColor;
  border-radius: 50%;
  transform: translate3d(-50%, 0, 0);
  transform-origin: center center;
}
